/*cabeçalho*/
header > h1{

font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
text-align: left;
position: fixed;
z-index: 1000;
padding: 0px;
background-color: white;
top: -20px;
left: 25%;
right: 20.2%;
padding: 23.2px;
background-color: rgb(198, 198, 198);

}
#banner{

    position: fixed;
    width: 80px;    
    z-index: 1000;
    top: 0px;
    background-color: white;
    background-color:rgba(198, 198, 198);
    
}

/*Menu*/

nav{
    z-index: 100;
    position: fixed;
    top: 20px;
    z-index: 90;
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a{
    float: left;
}

nav a{

    display: block;
    color: white;
    text-align: center;
    padding: 8px 108.5px;
    text-decoration: none;

}

nav  a:hover:not(.active){
    background-color: #111;
    color: #04aa6d;
    font-weight: 900;
}
.active{
    background: #04aa6d;
    color: #111;
    font-weight: 900;
}

body{

    margin-top: -20px;
    position: relative;
    border: solid;
    border-top: transparent;
    z-index: 2000;
}

/*página inteira*/

body{

    top: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(198, 198, 198,0.5);
    margin-left: 20%;
    margin-right: 20%;
    
}

/*Conteúdo*/

.conteudo{

    position: relative;
    top: 120px;
    z-index: 30;


}

.para-secao{

    text-align: left;
    text-indent: 20px;
    margin: 30px 50px;
    line-height: 1.5;
    position: relative;
    z-index: 10;

}

section > h2{

    text-align: center;
    color: rgb(4,170,109);
    top: auto;
    margin-bottom: -20px;
   
}

.imagens{

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 300px;
    z-index: 9;
}

/*Rodaé*/

.imgrodape{

    height: 144.3px;
    position: relative;
    /*margin-top: 80px;*/
    bottom: -160px;
    margin-left: -40px;
    z-index: 8;
    opacity: 0.5;

}
.contatorodape{

    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-left: 50px;
    /*top: -159px;*/
    color: #111;
    font-weight: 900;
}

footer > p{

    text-align: right;
    position: relative;
    bottom: -10px;
    right: 20px;
    /*top: -164px;*/
    z-index: 10;
}

/*Formulário*/

.obrigatorio{
    color: red;
    position: relative;
}
form{

    position: relative;
    top: 110px;
    text-align: justify;
}

.caixaPreencher:hover, #docs:hover{

    border-radius: 6px;
    border-color:rgba(4, 170, 109, 1);
    border-style: solid;
    background-color: rgb(188, 255, 244);

}
.caixaPreencher{

    border-radius: 6px;
    border-color:rgb(129, 129, 129);
    border-style: solid;

}

.lblForm:hover{

    border-radius: 6px;
    border-style: solid;
    color: #111;
    border-color:rgba(198, 198, 198,0);
}

#btnEnviar{

    background-color: rgba(198, 198, 198,0.5);
    padding: 8px 8px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 10px;
    border-color:rgb(129, 129, 129);
    color: rgba(4, 170, 109, 1);
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}
#btnEnviar:hover{

    border-radius: 10px;
    border-color:rgba(4, 170, 109, 1);
    border-style: solid;
    background-color: rgb(188, 255, 244);

}
